
@font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;



body{
  padding: 0;
  border: 0;
}

.navbar {
  background-color:  darkslateblue;
  font-family:  "Helvetica Neue";
  height: 60px;
  
  }
  

  header{

   
    background-image: url("../img/header.jpg");
    height: 500pt;
    background-repeat: no-repeat;
    background-size: cover;
   
      
      
  }
  
  

h1{

    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 72px;

    
  }

#bajada{
margin-top: 5px;
font-weight: bold;

}



  h3{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
  }

  .text-box {
    display: inline-block;
    width: 45%;
    margin: 5em;
    vertical-align: top;
    font-size: 16px;
  
  }

 

  .icon-container{
    color: darkslateblue;
    width: 100%;
    text-align: center;
    size: 108px;
       
    

  }
  



  .container-bg{
      background-color:  darkslateblue;
    
  }



 .p{
color: black;

 }

  .card-body {
    width: initial;
    margin-bottom: 3em;
  
  }

  footer{
    margin: 0;
    padding: 0;
    background-color:  darkslateblue;;
    display: block;
  }
  
  .icon-container {
      size: 50px;
  }

  .contacto, h4{
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-align: center;
  }

  .element {
    display: inline-block;
    padding: 3em;
  }
  
  .container.footer {
    display: inline-block;
    padding: 3em;
    width: auto;
    position:fixed;
    bottom:0px;
  }

  .text-presentacion{
    
    color: #373A3C;
    display: inline-block;
    line-height: 40px;
    margin: 5em;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
    margin: 5em;
    
  }

 .trabajos-text{
    text-align: center;
  }
  #description{
   color: #373A3C;
  }



  .card-deck{
    margin-bottom: 0;
  }



  .card-deck h5 {

    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 23pt;

  }

  .card-deck p {

    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    line-height: 30px;
    text-align: left;
    font-size: 16pt;

  }

  #contact{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
  }



  @media screen and (max-width: 400px){



    body{
      width: auto;
    }
    

    .header img{

   
      background-image: url("../img/header.jpg");
     
      background-repeat: no-repeat;
      background-size: cover;
      image-orientation: initial;     
        
        
    }
    
header{
  width: auto;
  height: 507px;
  
}

    h1{
        text-align: center;
    }


    .text-presentacion{
      display: none;
      

    }

    


      .h1{

        font-family: 'Oswald', sans-serif;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 40pt;


    }

    .encabezado h1{
      font-size: 40pt;
      margin-bottom: 20px;

     }